<%- include header %>
<p>&nbsp</p>

<form method="post">

    <table id="lrTable">
        <tr><td>Username:</td><td> <input type="text" name="name"/></tr></td></tr>
        <tr><td>Password:</td><td> <input type="password" name="password"/></td></tr>
    </table>
    <p align="center"><button type="submit" class="btnExample">Log me in!</button></p>

</form>
<%- include footer %>