<%- include header %>
<p>&nbsp;</p>
<form method="post">
    <table id="lrTable">
    <tr>
            <td>Username</td><td><input type="text" name="name"/></td>
    </tr>
    <tr>
            <td>Password</td><td><input type="password" name="password"/></td>
    </tr>
    <tr>    <td>Confirm your password</td><td><input type="password" name="password-repeat"/></td>
    </tr>
            <td></td>
    <tr>

    </tr><tr>
            <td>Email</td><td><input type="email" name="email"/></td>
        </tr>
    </table>
<p align="center"><button class="btnExample" type="submit"> Register Now!</button>&nbsp&nbsp&nbsp<button class="btnExample" type="reset"> Reset</button></p>

</form>

<%- include footer %>